.header {
  height: 5.625rem;
  display: flex;
  align-items: center;
}

.header i {
  font-size: 1.25rem;
  cursor: pointer;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.mobile {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
