.hero {
  background: hsla(0, 0%, 0%, 0.65)
  url("../../images/hero-overlay.jpeg")
    no-repeat center/cover;
  background-blend-mode: overlay;
  min-height: 100vh;
  margin-top: -100px;
}

.hero-wrapper {
  min-height: calc(100vh - 100px);
}

.hero-wrapper-content {
  margin-top: 5rem;
  position: relative;
  max-width: 700px;
  z-index: 10;
  gap: 2.5rem;
  align-items: flex-start;
  text-align: start;
}

.hero-wrapper-content h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
  color: var(--white);
}
.hero-wrapper-content h3 {
  line-height: 1.75rem;
  color: var(--gray-light);
}

@media only screen and (max-width: 31.25rem) {
  .hero-wrapper-content {
    margin-top: 6.5rem;  }
  .hero-wrapper-content h1 {
    font-size: 2.25rem;
  }
  .hero-wrapper-content h3 {
    font-size: 1rem;
  }
}
