.trends {
  text-align: center;
}

.trends .trends-content {
  padding: 0.5rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem 0;
}

.trends .trends-content h1 {
  font-size: 2.25rem;
  color: var(--accent-color);
}
.trends .trends-content p {
  font-size: 1.25rem;
  color: var(--dark-gray);
}

.trends-content hr {
  width: 70%;
  height: 2px;
  background: linear-gradient(to right, #f0f8ff, #555, #f0f8ff);
  border: none;
  margin: 20px auto;
}

.trends .cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}
@media only screen and (max-width: 65.625rem) {
  .trends .cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 44.6875rem) {
  .trends .cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
