/* ! container starts */
/* ! container ends */

/* ! header starts */
@media only screen and (max-width: 67.5rem) {
  .header__login button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 53.75rem) {
  .mobile {
    display: block;
  }
  .header__nav {
    position: absolute;
    top: -400%;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--hover-color);
    background-color: var(--white);
    padding: 1rem 0;
    z-index: 999;
  }
  .header__list {
    flex-direction: column;
    gap: 2rem;
  }

  .header__list__item a {
    color: var(--primary-color);
  }
}
/* ! header ends */
