.section {
  margin-top: 6rem;
}
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 550;
}
.font-semibold {
  font-weight: 600;
}
.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-normal {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-large {
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.flex {
  display: flex;
}
.its-center {
  align-items: center;
}
.jst-between {
  justify-content: space-between;
}
.jst-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}
.b-radius-full {
  border-radius: var(--b-radius-full);
}
.b-radius-normal {
  border-radius: var(--b-radius-basic);
}
.btn {
  padding: 1rem 2.25rem;
  border-radius: var(--b-radius-basic);
  text-transform: capitalize;
  font-weight: 550;
}
.primary {
  background-color: var(--sky6);
}
.primary:hover {
  background-color: var(--sky7);
}
.accent {
  background-color: var(--accent-color);
}
.accent:hover {
  background-color: #e65c50;
}
.relative {
  position: relative;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.light {
  color: var(--sky1);
}
.bxs-star {
  color: var(--highlight-color);
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 7%;
}
@media only screen and (min-width: 40rem) {
  .container {
    max-width: 40rem;
  }
}

@media only screen and (min-width: 48rem) {
  .container {
    max-width: 48rem;
  }
}

@media only screen and (min-width: 64rem) {
  .container {
    max-width: 64rem;
  }
}

@media only screen and (min-width: 80rem) {
  .container {
    max-width: 80rem;
  }
}

@media only screen and (min-width: 96rem) {
  .container {
    max-width: 96rem;
  }
}
