:root {
  /* ! -------- RADIUS -------- */
  --b-radius-full: 100%;
  --b-radius-lg: 1.125rem;
  --b-radius-basic: 0.375rem;
  --b-radius-medium: 0.75rem;

  /* ! -------- COLORS -------- */

  /* main colors */
  --sky1: rgb(240 249 255);
  --sky2: rgb(224 242 254);
  --sky3: rgb(186 230 253);
  --sky4: rgb(125 211 252);
  --sky5: rgb(56 189 248);
  --sky6: rgb(14 165 233);
  --sky7: rgb(2 132 199);
  --sky8: rgb(3 105 161);
  --sky9: rgb(7 89 133);
  --sky10: rgb(12 74 110);

  /* accent colors */
  --accent-color: #e74c3c;
  --highlight-color: #ffd700;

  /* neutral colors */
  --black: #111;
  --white: #ffffff;
  --gray-light: #d1d5db;
  --gray-dark: #2d3748;

  /* ! -------- BOX SHADOW -------- */
  --shadow-lg: 0 4px 8px rgba(0, 0, 0, 0.9);
}
