input {
  padding: 1rem;
  width: 100%;
  text-transform: none;
  font-size: 1.25rem;
  background: transparent;
  color: var(--sky10);
  font-weight: 550;
}

input::placeholder {
  color: var(--sky10);
}

