* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease all;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

input,
button {
  border: 0;
  outline: 0;
  background: transparent;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
